<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @store.url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @store.status %>
</p>

<p>
  <strong>Code:</strong>
  <%= @store.code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @store.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @store.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @store.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @store.country %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
